import { DataSource, ViewColumn, ViewEntity } from '../imports';
import { <%- className %> } from './<%- fileName %>.entity';

@ViewEntity({
  expression: (datasource: DataSource) => {
    return datasource
      .createQueryBuilder()
      .select('c.id', 'id')
      .addSelect('c.name', 'name')
      .from(<%- className %>, 'c');
  },
})
export class <%- className %>View {
  @ViewColumn() id!: number;
}
