<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head') %>
  </head>
  <body>
    <%- include('../components/nav') %>

    <h1>About Page</h1>

    <p><%- message %></p>

    <br />
    <%- include('../components/footer') %>
  </body>
</html>
